/* Estilo para el fondo */
.background {
    background-image: url('../assets/images/background.jpg'); /* Ruta a la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustes para el contenedor de contenido */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
}

/* Estilos para la tarjeta */
.card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilos para el círculo */
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fded04;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
