/* Fondo gradiente */
body {
  background: linear-gradient(to bottom, #ffeb99, #ffcc66);
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Efecto de desplazamiento */
}

/* Sección completa con línea divisoria */
.full-screen-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeb99;
  overflow: hidden;
  border-bottom: 2px solid #ffcc66;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #ddd; /* Línea divisoria entre secciones */
}

/* Ajustes de tipografía */
h1, h2 {
  color: #333;
  text-align: center;
  font-weight: bold;
}

p {
  color: #666;
  font-size: 1rem;
  text-align: center;
}
